// SITE

@-webkit-viewport { 
	width : device-width; 
}

@-moz-viewport { 
	width : device-width; 
}

@-ms-viewport { 
	width : device-width; 
}

@-o-viewport { 
	width : device-width; 
}

@viewport { 
	width : device-width; 
}

html {
	background : $bodycolor;
	font-size : 62.5%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : transparent;
	font-family : $basefont;
	@include font-size();
	line-height : $baselineheight;
	color : $textcolor; 
}

