@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-rxwcfm');
	src:url('fonts/icomoon.eot?#iefix-rxwcfm') format('embedded-opentype'),
		url('fonts/icomoon.woff?-rxwcfm') format('woff'),
		url('fonts/icomoon.ttf?-rxwcfm') format('truetype'),
		url('fonts/icomoon.svg?-rxwcfm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
	content: "\e600";
}
.icon-heart:before {
	content: "\e601";
}
.icon-heart2:before {
	content: "\e602";
}
.icon-earth:before {
	content: "\e603";
}
.icon-list:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e605";
}
.icon-arrow-down:before {
	content: "\e606";
}
.icon-arrow-up:before {
	content: "\e607";
}
.icon-arrow-right:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-googleplus:before {
	content: "\e60b";
}
.icon-instagram:before {
	content: "\e60c";
}
.icon-mail:before {
	content: "\e60d";
}
.icon-user-add:before {
	content: "\e60e";
}
.icon-share:before {
	content: "\e622";
}
.icon-ticket:before {
	content: "\e60f";
}
.icon-twitter2:before {
	content: "\e620";
}
.icon-facebook2:before {
	content: "\e621";
}
.icon-googleplus2:before {
	content: "\e61f";
}
.icon-play:before {
	content: "\e610";
}
.icon-profile:before {
	content: "\e611";
}
.icon-tags:before {
	content: "\e612";
}
.icon-envelope:before {
	content: "\e613";
}
.icon-alarm:before {
	content: "\e614";
}
.icon-stopwatch:before {
	content: "\e615";
}
.icon-calendar:before {
	content: "\e616";
}
.icon-menu:before {
	content: "\e617";
}
.icon-download:before {
	content: "\e618";
}
.icon-link:before {
	content: "\e623";
}
.icon-bookmark:before {
	content: "\e619";
}
.icon-code:before {
	content: "\e61a";
}
.icon-mail2:before {
	content: "\e61b";
}
.icon-feed:before {
	content: "\e61c";
}
.icon-html5:before {
	content: "\e61d";
}
.icon-css3:before {
	content: "\e61e";
}
.icon-hyperlink:before {
	content: "\e624";
}
