// VARIABLES


//// Monochrome

$black: rgb(0,0,0);
$darkgrey: lighten($black, 25%);
$grey: lighten($black, 50%);
$lightgrey: lighten($black, 75%);
$lightergrey: lighten($black, 90%);
$offwhite: lighten($black, 95%);
$white: rgb(255,255,255);

//// Glorious technicolour

$basecolor: rgb(45,53,62);
$compcolor: adjust-hue($basecolor, 180);
$bordercolor: lighten($basecolor, 60%);

$red: #f53651;
$orange: #e9982d;
$yellow: #f7db3b;
$green: #5acc32;
$blue: #378adf;
$purple: #773d9c;

$errorcolor: $red;
$warningcolor: $orange;
$alertcolor: $yellow;
$successcolor: $green;
$infocolor: $blue;
$inverscolor: $darkgrey;

$facebook: #3b5998;
$twitter: #00aeef;
$googleplus: #cb4437;
$instagram: #b8a091;



//// Type weights
$light: 100;
$regular: 300;
$semibold: 400;
$bold: 500;
$extrabold: 700;
$black: 900;


// BASE 

$bodycolor: $black;
$textcolor: $white;

//// Typography

$basefont: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
$basefontsize: 16;
$baselineheight: 1.3;
$baseheadingfont: inherit;
$baseheadingfontweight: $bold;
$baseheadingfontcolor: inherit;

$altfont: Cambria, Georgia, Times, "Times New Roman";
$altlineheight: 1.35;

$codefont: Monaco, Courier New, monospace;

//// Links

$linkcolor: $basecolor;
$linkcolorhover: darken($linkcolor, 10);
$linkcolorvisited: darken($linkcolorhover, 10);
$linkcolorfocus: darken($linkcolorvisited, 10);


// ELEMENTS 

//// buttons

$buttonbackground: $basecolor;
$buttonbordercolor: darken($buttonbackground, 10%);
$buttoncolor: $white;
$buttonborderwidth: 1px;
$buttonborderstyle: solid;


//// tables

$tablebackground: transparent;
$tablestripe: lighten($basecolor, 60%);
$tablehover: lighten($basecolor, 50%);
$tableborder: lighten($basecolor, 40%);
$tableborderwidth: 1px;
$tableborderstyle: solid;

//// forms

$inputbackground: $white;
$inputborder: lighten($basecolor, 40%);
$inputborderwidth: 1px;
$inputborderstyle: solid;
$inputhover: lighten($basecolor, 20%);
$inputfocus: $basecolor, 40%;
$placeholdercolor: $lightgrey;



// LAYOUTS 	

$baseline: $baselineheight;
$gutterwidth: 24px;

