@charset "UTF-8";
body:before {
  background-color: #FCF8E3;
  border-bottom: 1px solid #FBEED5;
  border-left: 1px solid #FBEED5;
  color: #C09853;
  font: small-caption;
  padding: 3px 6px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100; }
  @media all and (min-width: 20em) {
    body:before {
      content: "mob ≥ 320px (20em)"; } }
  @media all and (min-width: 37.5em) {
    body:before {
      content: "phab ≥ 600px (37.5em)"; } }
  @media all and (min-width: 46.25em) {
    body:before {
      content: "tab ≥ 740px (46.25em)"; } }
  @media all and (min-width: 61.25em) {
    body:before {
      content: "lap ≥ 980px (61.25em)"; } }
  @media all and (min-width: 81.25em) {
    body:before {
      content: "desk ≥ 1300px (81.25em)"; } }
  @media all and (min-width: 112.5em) {
    body:before {
      content: "epic ≥ 1800px (112.5em)"; } }

/**
 * Tests
 * (scroll down to edit the tests)
 */
@media all and (min-width: 20em) {
  .element {
    color: green; } }
@media all and (min-width: 37.5em) {
  .element {
    color: yellow; } }
@media all and (min-width: 46.25em) {
  .element {
    color: blue; } }
@media all and (max-width: 61.24em) {
  .element {
    color: red; } }
@media all and (max-width: 400px), (min-width: 650px) and (max-width: 1200px) {
  .element {
    color: crimson; } }
@media all and (min-width: 75em) {
  .element {
    color: yellow; } }

/**
 * For older browsers that don't support @media queries
 * (in our case: IE8)


.element {
    @include mq($from: mob) {
        color: lighten(green,40);
    }
    @include mq($from: tab) {
        color: lighten(blue,40);
    }
    @include mq($to: lap) {
        color: lighten(red,40); // Not wide enough: won't be in the output
    }
    @include mq(desk) {
        color: lighten(crimson,40); // Too wide: won't be in the output
    }

}
 */
/* Reset =================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

@font-face {
  font-family: 'icomoon';
  src: url("/_assets/fonts/icomoon/icomoon.eot?-rt8vu1");
  src: url("/_assets/fonts/icomoon/icomoon.eot?#iefix-rt8vu1") format("embedded-opentype"), url("/_assets/fonts/icomoon/icomoon.woff?-rt8vu1") format("woff"), url("/_assets/fonts/icomoon/icomoon.ttf?-rt8vu1") format("truetype"), url("/_assets/fonts/icomoon/icomoon.svg?-rt8vu1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-mobile:before {
  content: "\e600"; }

.icon-heart:before {
  content: "\e601"; }

.icon-heart2:before {
  content: "\e602"; }

.icon-earth:before {
  content: "\e603"; }

.icon-list:before {
  content: "\e604"; }

.icon-arrow-left:before {
  content: "\e605"; }

.icon-arrow-down:before {
  content: "\e606"; }

.icon-arrow-up:before {
  content: "\e607"; }

.icon-arrow-right:before {
  content: "\e608"; }

.icon-twitter:before {
  content: "\e609"; }

.icon-facebook:before {
  content: "\e60a"; }

.icon-googleplus:before {
  content: "\e60b"; }

.icon-instagram:before {
  content: "\e60c"; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  text-rendering: optimizelegibility; }

h1 small, h2 small {
  font-weight: normal;
  color: #bfbfbf; }

h1, .h1 {
  margin-bottom: 0.65;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2; }

h2, .h2 {
  margin-bottom: 0.65;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2; }

h3, .h3 {
  margin-bottom: 0.8666666667;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3; }

h4, .h4 {
  margin-bottom: 1.3;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25; }

h5, .h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.3; }

h6, .h6 {
  margin-bottom: 1.3;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

p, ol, ul, li, dl, address {
  margin-bottom: 1.3;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3; }

small {
  font-size: 0.8em; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid white; }

ul, ol {
  margin: 0 0 1.3 0;
  padding: 0 0 0 24px; }

blockquote {
  margin: 0 0 1.3 -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal; }

q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.3; }

dt {
  font-weight: 500;
  text-transform: uppercase; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help; }

b, strong {
  font-weight: 500; }

dfn {
  font-style: italic; }

ins {
  background-color: #f3f5f6;
  color: white;
  text-decoration: none; }

mark {
  background-color: #f3f5f6;
  color: white;
  font-style: italic;
  font-weight: 500; }

pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

a {
  text-decoration: none;
  color: #2d353e; }
  a:visited {
    color: #020203; }
  a:hover {
    text-decoration: underline;
    color: #181c20; }
  a:focus {
    outline: thin dotted;
    color: black; }
  a:hover, a:active {
    outline: 0; }

/* ============================================================

Cone: A Marshall

============================================================ */
/* Buttons =================================================== */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 6px 11px 6px;
  margin-bottom: 0;
  font-weight: 300;
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: gray;
  border: 1px solid #181c20;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  cursor: pointer;
  *margin-left: .3em; }
  .btn:visited, .btn:hover {
    color: white;
    text-decoration: none; }

.btn:first-child {
  *margin-left: 0; }

.btn-disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

.btn-error {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d353e), to(#ec0c2b));
  background-image: -webkit-linear-gradient(top, #2d353e, #ec0c2b);
  background-color: #ec0c2b;
  background-image: -moz-linear-gradient(top, #2d353e, #ec0c2b);
  background-image: -ms-linear-gradient(top, #2d353e, #ec0c2b);
  background-image: -o-linear-gradient(top, #2d353e, #ec0c2b);
  background-image: linear-gradient(top, #2d353e, #ec0c2b);
  background-repeat: repeat-x;
  color: white; }
  .btn-error:visited, .btn-error:hover {
    color: white; }

.btn-primary {
  background-color: #2d353e; }

.btn-success {
  background-color: #5acc32; }

.btn-warning {
  background-color: #e9982d; }

.btn-mini {
  padding: 3px 5px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px; }

.btn-small {
  padding: 6px 10px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px; }

.btn-large {
  padding: 11px 22px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: normal;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn-extlarge {
  padding: 11px 22px;
  font-size: 21px;
  font-size: 2.1rem;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
  margin-bottom: 1.3; }
  .btn-group .btn {
    position: relative;
    float: left;
    margin-left: -1px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
    .btn-group .btn:first-child {
      margin-left: 0;
      -webkit-border-top-right-radius: 2px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 2px;
      -webkit-border-top-left-radius: 0;
      -moz-border-radius-topright: 2px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 2px;
      -moz-border-radius-topleft: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;
      border-top-left-radius: 0;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }
    .btn-group .btn:last-child {
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 2px;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: 2px;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 2px;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-topleft: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 2px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }
    .btn-group .btn.large:first-child {
      margin-left: 0;
      -webkit-border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-bottom-left-radius: 4px;
      -webkit-border-top-left-radius: 0;
      -moz-border-radius-topright: 4px;
      -moz-border-radius-bottomright: 0;
      -moz-border-radius-bottomleft: 4px;
      -moz-border-radius-topleft: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 0;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }
    .btn-group .btn.large:last-child {
      -webkit-border-top-right-radius: 0;
      -webkit-border-bottom-right-radius: 4px;
      -webkit-border-bottom-left-radius: 0;
      -webkit-border-top-left-radius: 4px;
      -moz-border-radius-topright: 0;
      -moz-border-radius-bottomright: 4px;
      -moz-border-radius-bottomleft: 0;
      -moz-border-radius-topleft: 4px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 0;
      border-top-left-radius: 4px;
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box; }

.btn-toolbar {
  clear: both;
  margin-top: 0.65;
  margin-bottom: 0.65; }
  .btn-toolbar .btn-group {
    display: inline-block;
    *display: inline;
    *zoom: 1; }

form {
  margin: 0 0 1.3 0; }
  form fieldset {
    margin-bottom: 1.3;
    padding: 0;
    border-width: 0; }
  form legend {
    display: block;
    width: 100%;
    margin-bottom: 2.6;
    *margin-left: -7px;
    padding: 0;
    color: white;
    border: 0;
    border-bottom: 1px solid #8c9bab;
    white-space: normal; }
    form legend small {
      font-size: 14px;
      font-size: 1.4rem;
      color: #bfbfbf; }
  form p {
    margin-bottom: 0.65; }
  form ul {
    list-style-type: none;
    margin: 0 0 1.3 0;
    padding: 0; }
  form br {
    display: none; }

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle; }

input,
button,
select,
textarea {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

label {
  display: block;
  margin-bottom: 0.1625;
  font-weight: bold;
  color: white;
  cursor: pointer; }
  label input,
  label textarea,
  label select {
    display: block; }

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.325;
  background-color: white;
  border: 1px solid #8c9bab;
  color: white; }
  input:hover,
  textarea:hover,
  select:hover {
    border-color: #586879; }

::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem; }

input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible; }

select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px; }

select {
  width: auto;
  background-color: white;
  font-size: 13px;
  font-size: 1.3rem; }

select[multiple],
select[size] {
  height: auto; }

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top; }

input[type="hidden"] {
  display: none; }

.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed; }

input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.help-block,
.help-inline {
  color: gray; }

.help-block {
  display: block;
  margin-bottom: 0.65; }

.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px; }

.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0; }

.form-inline label {
  display: inline-block; }

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0; }

.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px; }

.form-search label {
  display: inline-block; }

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle; }

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px; }

/* Tables =================================================== */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.3;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
  table th,
  table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #8c9bab;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: left; }
  table th {
    font-weight: bold; }
  table thead th {
    vertical-align: bottom; }
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody + tbody {
    border-top: 2px solid #8c9bab; }
  table tbody tr td,
  table tbody tr th {
    -webkit-transition: background-color 0.25s 0 linear;
    -moz-transition: background-color 0.25s 0 linear;
    -ms-transition: background-color 0.25s 0 linear;
    -o-transition: background-color 0.25s 0 linear;
    transition: background-color 0.25s 0 linear; }
  table tbody tr:hover td,
  table tbody tr:hover th {
    background-color: #a9b4c1; }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed; }
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #8c9bab; }
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6; }

.list-bordered {
  list-style-type: none;
  margin: 0 0 1.3 0;
  padding: 0; }
  .list-bordered li {
    margin-bottom: 0.325;
    padding-bottom: 0.325;
    border-bottom: 1px dashed #c7ced6; }
  .list-bordered li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-width: 0; }

.link-list li {
  color: red; }
  @media all and (min-width: 46.25em) {
    .link-list li {
      color: green; } }
  @media all and (min-width: 61.25em) {
    .link-list li {
      color: blue; } }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin-bottom: 1.3; }
  figure img {
    margin-bottom: 0.325; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 14px;
    font-size: 1.4rem;
    color: gray; }

@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: 900;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3;
  color: white; }

@media print {
  /* Print =================================================== */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }
  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid gray;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
